.container{
  width: 100vw;
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
  position: relative;
  //border-bottom: 1px solid gray;
  .bottomLine{
    height: 1px;
    width: 100vw;
    background: gray;
    transform: scaleY(.2);
    position: absolute;
    bottom: 0;
  }
  .username{
    color: #646a91;
    font-weight: 700;
    font-size: 17px;
  }
  .msg{
    font-size: 13px;
  }
  .imgs{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    .img{
      width: 80px;
      height: 80px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
  .center{
    margin-left: 15px;
    margin-right: 25px;
  }
}
.Image{
  height: 60px;
  width: 60px;
  border-radius: 7px;
}
.input{
  font-size: 18px;
  border: 1px solid black;
  outline: none;
}
.timeAndBtn{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.showInputDiv{
  //display: flex;
  //flex-direction: row-reverse;
  text-align: center;
  background: #f7f7f7;
  color: #52688f;
  font-size:17px;
  width: 28px;
  height: 22px;
  border-radius: 5px;
  border: none;


}

.comment{
  box-sizing: border-box;
  padding: 12px 8px;
  background: #f7f7f7;
  .commentName{
    color: #8b8ea2;
  }
}